@page "{title?}"
@using Portfolio.Core.Services
@model Portfolio.Pages.Blog

@{
}

@if (string.IsNullOrWhiteSpace(Model.Title))
{
    <h1>Blog Posts</h1>
    if (Model.Blogs.Any())
    {
        <ul class="blog-list">
            @foreach (var blog in Model.Blogs)
            {
                <li id="@blog.Id">
                    <div class="d-flex">
                        <p class="w-15">@blog.Created.Date.ToString("dd-MM-yyyy")</p>
                        <div class="d-flex flex-column w-85">
                            <h2>@blog.Title</h2>
                            <p>First few paragraphs</p>
                        </div>
                    </div>
                </li>
            }
        </ul> 
    }
    else
    {
        <p>Uh oh! Looks like I haven't uploaded any blogs yet - please check back later!</p>
    }
}
else
{
    <h1>@Model.CurrentBlog.Title</h1>
}


