@page "{title}"
@model Portfolio.Pages.Blog

@{
}
<div class="d-flex flex-column blog-container overflow-auto main-padding">
    <h1>@Model.CurrentBlog.Title</h1>
    <div>
        <p>@Model.CurrentBlog.Created.ToLongDateString()</p>
        @Html.Raw(Model.CurrentBlog.Content)
    </div>
</div>