@page
@model Portfolio.Pages.Contact

@{
}

<div class="col-sm-2 col-md-2 col-lg-3"></div>
<div class="col-sm-10 col-md-10 col-lg-9">
    <h1>Contact</h1>
    <p>Get in touch!</p>
    <div class="d-flex">
        <form method="post" class="col-md-6 pl-0">
            <div class="d-flex flex-column">
                <label>Your Email:</label>
                <input asp-for="ContactSubmission.Email" class="contact-input">
                <span asp-validation-for="ContactSubmission.Email"></span>
            </div>
            <div class="d-flex flex-column">
                <label>Your Message:</label>
                <textarea asp-for="ContactSubmission.Message" rows="6" class="contact-input"></textarea>
                <span asp-validation-for="ContactSubmission.Message"></span>
            </div>
            <div>
                <input class="contact-button" type="submit" value="Send message"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#alert").fadeTo(2000, 500).slideUp(500, function(){
            $("#alert").slideUp(500);
        });
    </script>
}