@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi, I'm Phil</h1>
    <p>Full stack developer specialising in Azure and DevOps practices</p>
</div>