/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
  font-family: "ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

main {
  height: 100%;
}

.main-div {
  width: 100%;
}

.sidebar {
  height: 100vh;
  width: 200px;
  top: 0;
  left: 0;
  background-color: #4c99dc;
  z-index: 5;
}

.sidebar-header {
  text-align: center;
  padding: 2rem 0.6rem;
  background: rgba(0,0,0,0.1);
}

.sidebar-header>img {
  width: 100px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 4px rgb(255 255 255/20%);
}

.menu-container {
  height: 70%;
}

.menu-items {
  margin-top: 2rem;
}

.menu-item {
  cursor: pointer;
  text-align: center;
}

.menu-item>a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item>a:hover {
  color: rgba(0,0,0,0.7);
}

.menu-item>hr {
  background-color: black;
  width: 60%;
}

nav.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.social-links {
  justify-content: space-evenly;
}

.social-links>li>a>i {
  color: black;
}

h1 {
  margin-bottom: 20px;
}

.w-15 {
  width: 15%;
}

.w-60 {
  width: 60%;
}

body {
  font-family: 'ubuntu' !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.footer-container-list {
  list-style: none;
}

.footer-container-list>li {
  line-height: normal;
  padding: 5px;
}

.footer-container-list>li>a {
  color: #5a5858;
}

.alert-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 6rem;
}

.main-image {
  height: 500px;
}

.recent-blogs {
  list-style: none;
  padding-left: 0;
}

.recent-blogs>li {
  padding: 10px 0;
  font-size: 1.2rem;
}

.recent-blogs>li>a {
  margin-left: 30px;
  text-decoration: none;
  color: #676767;
}

.recent-blogs>li>a:hover {
  color: black;
}

.contact-input {
  background-color: #f3f3f3;
  border: none;
  padding: 10px;
  outline: none;
  transition: background-color 500ms linear;
}

.contact-input:focus {
  background-color: #ededfb;
}

.field-validation-error {
  color: red;
  margin-bottom: 10px;
}

.contact-button {
  background-color: #44d455;
  border: none;
  padding: 10px;
}

.blog-list {
  list-style: none;
}

.blog-list>li {
  padding: 2rem;
}

.blog-date {
  color: #32a23f;
}

.blog-list-header>a {
  color: black;
}

@media only screen and (min-width: 600px) {
  /*tablets*/
  .sidebar {
    width: 240px;
  }
}

@media only screen and (min-width: 768px) {
  /*desktop*/
  .sidebar {
    width: 300px;
  }
}


