@page
@model Portfolio.Pages.Contact

@{
}

<h2>Contact</h2>
<p>Get in touch!</p>

<div class="d-flex">
    <form method="post" class="col-md-6">
        <div class="d-flex flex-column">
            <label>Your Email:</label>
            <input asp-for="ContactSubmission.Email" class="contact-input">
        </div>
        <div class="d-flex flex-column">
            <label>Your Message:</label>
            <textarea asp-for="ContactSubmission.Message" rows="6" class="contact-input"></textarea>
        </div>
        <div>
            <input type="submit" value="Send message"/>
        </div>
    </form>
</div>