@page
@model Portfolio.Web.Pages.Admin.AddBlog

@{
}
<div class="col-sm-2 col-md-2 col-lg-3"></div>
<div class="col-sm-8 col-md-8 col-lg-6">
    <h2>Create Blog post</h2>
    <div class="d-flex">
        <form method="post">
            <div class="d-flex flex-column">
                <label>Title</label>
                <input asp-for="CreateBlogRequest.Title" />
            </div>
            <div class="d-flex flex-column">
                <label>Description</label>
                <textarea asp-for="CreateBlogRequest.Description" rows="3"></textarea>
            </div>
            <div class="d-flex flex-column">
                <label>Content</label>
                <textarea id="editor" asp-for="CreateBlogRequest.Content"></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-lg-3"></div>
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
    <script src="~/js/ckeditor.js"></script>
}
