@page
@model Portfolio.Web.Pages.Admin.AddBlog

@{
}

<h2>Create Blog post</h2>
<div class="d-flex">
    <form method="post">
        <div class="d-flex flex-column">
            <label>Title</label>
            <input asp-for="CreateBlogRequest.Title" />
        </div>
        <div class="d-flex flex-column">
            <label>Description</label>
            <textarea asp-for="CreateBlogRequest.Description" rows="3"></textarea>
        </div>
        <div class="d-flex flex-column">
            <label>Content</label>
            <textarea id="editor" asp-for="CreateBlogRequest.Content"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
    <script type="text/javascript">
        ClassicEditor
            .create( document.querySelector('#editor'))
            .catch( err => console.log(err))
    </script>
}
